{% extends 'base.html' %}

{% load static %}

{% block title %}Inicio de Sesión - Hospital SDLG{% endblock %}

{% block extra_head %}
<!-- Agrega aquí cualquier estilo adicional específico del panel de usuario -->
{% endblock %}

{% block content %}
<div class="container mx-auto my-12 p-6 bg-white rounded shadow-lg">
    <h2 class="text-3xl font-bold text-center mb-8">Iniciar Sesión</h2>
    {% if error %}
    <div class="text-red-500">{{ error }}</div>
    {% endif %}
    <form action="{{ routes.AUTH_USER }}" method="post" class="max-w-lg mx-auto">
        {% csrf_token %}
        <div class="mb-4">
            <label for="dni" class="block text-left text-gray-700 text-sm font-bold mb-2">DNI:</label>
            <input type="text" id="dni" name="dni" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
        </div>
        <div class="mb-4">
            <label for="password" class="block text-left text-gray-700 text-sm font-bold mb-2">Password:</label>
            <input type="password" id="password" name="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
        </div>
        <div class="flex items-center justify-between mb-6">
            <button type="submit" class="bg-gray-900 text-white py-2 px-4 rounded-full text-lg font-semibold hover:bg-gray-700 focus:outline-none focus:shadow-outline">Iniciar sesión</button>
        </div>
        <div class="text-sm text-center text-gray-600">
            <p class="mb-2">¿No tienes una cuenta?</p>
            <a href="/turnero/singup/" class="font-medium text-indigo-600 hover:underline">Crear cuenta</a>
        </div>
    </form>
</div>
{% endblock %}
